<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
    <script src="/js/d3.min.js"></script>
    <script src="/js/colorbrewer.js"></script>
    <script src="/js/fr.js"></script>
    <title>Dietrich Featherston</title>
    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1936932-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1><a href="/">Dietrich Featherston</a></h1>
        <p class="nav">[ <a href="/contact.html">contact</a> | <a href="http://github.com/d2fn">github</a> | <a href="http://twitter.com/d2fn">twitter</a> | <a href="http://vimeo.com/d2fn">vimeo</a> | <a href="http://www.flickr.com/photos/iamdietrich/">flickr</a> | <a href="/atom.xml">subscribe</a> ]</p>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>

  </body>

</html>

