<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="keywords" content="data,dataviz,software,code,engineering,cassandra,couchdb,processing,openframeworks,semantic,databases,distributedsystems" />
<meta name="author" content="Dietrich Featherston" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<title>Dietrich Featherston</title>
<!-- google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1936932-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>

<div id="wrap">

<div id="header">
<h1><a href="/">d2fn.com</a></h1>
Dietrich Featherston is a software engineer based in the Dogpatch area of San Francisco, but gets to <a href="http://www.flickr.com/photos/iamdietrich/sets/72157621068784652/">Current River</a> he can.  This is the place where he keeps a log of some of his work.
<p class="nav">[ <a href="/contact.html">contact</a> | <a href="http://github.com/dietrichf">github</a> | <a href="http://twitter.com/d2fn">twitter</a> | <a href="/atom.xml">subscribe</a> ]</p>
</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">
<!-- todo: change this to be an href to contact info when you get it up -->
  <p>&copy; 2010 <a href="/contact.html">Dietrich Featherston</a>
</div>

</div>

</body>
</html>

