<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
    <script src="/js/d3.min.js"></script>
    <script src="/js/colorbrewer.js"></script>
    <script src="/js/fr.js"></script>
    <title>Dietrich Featherston</title>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1><a href="/">Dietrich Featherston</a></h1>
        <p class="nav">[ <a href="/contact.html">contact</a> | <a href="http://github.com/d2fn">github</a> | <a href="http://twitter.com/d2fn">twitter</a> | <a href="http://vimeo.com/d2fn">vimeo</a> ]</p>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>

  </body>

</html>

